.animate-title {
  &_slash {
    visibility: hidden;
    position: absolute;
    left: -3rem;
    top: 50%;
    transform: translate(0, -50%);
    width: 1rem;
    height: 0.125rem;
    animation: flashing 200ms linear forwards;
    animation-delay: 1s;
  }

  @keyframes flashing {
    0% {
      visibility: visible;
      transform: rotate(0deg);
      width: 1rem;
      left: -3rem;
    }
    100% {
      visibility: visible;
      transform: rotate(130deg);
      width: 2rem;
      left: -2.8rem;
    }
  }

  &_bg {
    visibility: hidden;
    width: 14rem;
    animation: bg 200ms linear forwards;
    animation-delay: 1.25s;
  }

  @keyframes bg {
    0% {
      visibility: visible;
      width: 1rem;
    }
    100% {
      visibility: visible;
      width: 14rem;
    }
  }
}
