/* You can add global styles to this file, and also import other style files */
@import './styles/typography';
@import './styles/colors';
@import './styles/utilities';
@import './styles/grid';
@import './styles/buttons';
@import './styles/checkbox';
@import './default-theme-colors.scss';

// Font imports
@font-face {
  font-family: 'Libre_Franklin';
  src: url('src/assets/fonts/AeonikFono/AeonikFono-Regular.eot');
  src: url('src/assets/fonts/AeonikFono/AeonikFono-Regular.eot?#iefix') format('embedded-opentype'),
  url('src/assets/fonts/AeonikFono/AeonikFono-Regular.woff2') format('woff2'),
  url('src/assets/fonts/AeonikFono/AeonikFono-Regular.woff') format('woff'),
  url('src/assets/fonts/AeonikFono/AeonikFono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Global Styles
*,
*:before,
*:after {
    box-sizing: border-box;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

p {
    margin: 0;
}

html {
    position: static !important;
}

body {
    background: var(--main-bg-color);
    color: #5B5B5B;
    margin: 0;

    // antialiasing for the fonts
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
}

button, a {
    cursor: pointer;
}
