.panels {
  position: absolute;
  top: 0;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  z-index: 1;
  overflow: hidden;

  &_lines {
    display: inherit;
  }
  &_text {
    display: inherit;
  }
}

.line {
  display: inherit;
}
