@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

html,
body {
    max-width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

[contenteditable="true"]:focus {
    outline: none;
}

:root {
    --toastify-toast-width: 476px;
}

.Toastify__toast--info {
    @apply bg-green-20 text-green-80 border-green-80
}

.Toastify__toast--success {
    @apply bg-green-20 text-green-80 border-green-80
}

.Toastify__toast--warning {
    @apply bg-yellow-20 text-yellow-80 border-yellow-80
}

.Toastify__toast--error {
    @apply bg-red-20 text-red-80 border-red-80
}

.Toastify__toast-icon {
    @apply flex shrink-0 w-[24px] m-0
}
