input[type="checkbox"].checkbox {
    appearance: none;
    background-color: var(--form-background);
    margin: 0;
    color: var(--dein-text-color-primary);
    width: 1.7rem;
    height: 1.7rem;
    border: 1px solid var(--dein-btn-outlined-color);
    border-radius: 2px;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    cursor: pointer;
}

input[type="checkbox"].checkbox::before {
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    background: url('/assets/icons/v2/checkbox-arrow.svg') no-repeat;
    background-size: 1.2rem;
    cursor: pointer;
}

input[type="checkbox"].checkbox:checked::before {
    transform: scale(1);
}
