.text-primary {
    color: var(--dein-text-color-primary) !important;
}

.text-secondary {
    color: var(--dein-text-color-secondary) !important;
}

.text-light {
    color: var(--dein-text-color-light) !important;
}

.text-lighter {
    color: var(--dein-text-color-lighter) !important;
}

.text-yellow {
    color: var(--dein-yellow) !important;
}

.text-blue {
    color: var(--dein-blue) !important;
}
