$base-font-family: 'Aeonik Pro', sans-serif;
$base-font-size: 10;
$base-font-size-px: #{$base-font-size}px;

$breakpoints: (
    "xs": 0,
    "sm": 415px,
    "md": 769px,
    "lg": 1024px,
);

$grid-columns: 24;
$grid-margin: (
    "xs": 2rem,
    "sm": 4.8rem,
    "md": 3.2rem,
    "lg": 6rem,
);
$grid-gutter: (
    "xs": 1.6rem,
    "sm": 2.4rem,
    "md": 2.4rem,
    "lg": 2.4rem,
);
